$primary-color: #e9fa77;
$primary-denote: #a3b90d;
$secondary-color: #4dcaca;
$secondary-denote: #00a6a6;
$lg: 992px;

//Letter colors
.white{
  color: white;
}

.secondary-denote{
  color: $secondary-denote;
}
.secondary-color{
  color: $secondary-color;
}
//Background colors
.secondary-colorBg{
  background-color: $secondary-color;
}
.secondary-denoteBg{
  background-color: $secondary-denote;
}
.primary-colorBg{
  background-color: $primary-color;
}
.primary-denoteBg{
  background-color: $primary-denote;
}
.navColor{
  background-color: #a3ba05;
}


.liL {
    float: left;
    margin-bottom: 0px;
}
.liR {
    float: right;
    margin-bottom: 0px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00a6a6;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.3em;
}

/* Change the link color to #111 (black) on hover */
li a span,div a span:hover {
    color: $primary-color;
}
li a:hover {
    color: $primary-color;
}
li a i:hover {
    color: $primary-color;
}
.center{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width: auto;

}

.firstImage{
  border-bottom: thick solid $secondary-color;
  width: 80%;
}
.cookingSection{
  background-color: $secondary-color;
}
.cookingimg, .restaurantsimg{
  margin-top: 20px;
  width: 90%;
}
.cookingp, .restaurantsp{
  font-size: 1.5em;
}
.restaurants div{
  padding-right: 15px;
  padding-left: 15px;
}
.mainBlue, .mainGreen{
  padding-top: 10px;
  height: 345px;
  font-size: 1.5em;
}
.mainBlue{
  background-color: $secondary-denote;
}
.mainGreen{
  background-color: $primary-denote;
}
.restaurants{
  background-color: $primary-color;
}
@media only screen and (max-width: $lg){
    .mainGreen{
      margin-top: 15px;
    }
}
.mainTxt{
  font-size: 2em;
}
svg text  {
   font-size: 1em;
   cursor:pointer;
   fill: $primary-denote;
}

.icons{
  font-family: FontAwesome;
  font-size: 4em;

}
svg{
  margin-top: 73px;
  margin-bottom: 73px;
}
.navIcons{
  margin-top: 7px;
}
.specials h3{
  height: 100px;
}
.specials img{
  width: 100%;
  margin-bottom: 25px;
}
.specials div{
  padding-left: 40px;
  padding-right: 40px;

}

//Margins
section{
  margin-top: 40px;
  margin-bottom: 40px;
}
.mb-less{
  margin-bottom: 0px;
}
.mt-less{
  margin-top: 0px;
}
.mb-15{
  margin-bottom: 15px;
}
.mt-50{
  margin-top: 50px;
}
.mt-70{
  margin-top: 70px;
}
.mt-15{
  margin-top: 15px;
}
.ml-15{
  margin-left: 15px;
}
//Text Properties
.fontM{
  font-size: 1.3em;
}
.txtCenter{
  text-align: center;
}
.txtJust{
  text-align: justify;
}
p,h1,h2,h3,h4,li,text{
  font-family: 'Roboto', sans-serif;
  color: #4a4a4a;
}
//Paddings
.p-15{
  padding: 15px;
}
.pb-15{
  padding-bottom: 15px;
}
//Guest Blogging posts
.BlogTitle{
  height: 100px;

}
.BlogContent{

  height: 500px;
}
.BlogContent img{
  width: 100%;
}
//Images overlay info
.after {
    font-size: .9em;
    position: relative;
    display: block;
    width: 90%;

    background: rgba(0, 0, 0, .6);
    margin-top: -68px;
}
//Svg resize
.Icon {
  width: 48px;
}
.Icon svg {
  width: 80%;
  height: auto;
}
//footer
footer{
  margin-top: 15px;
  padding-top: 15px;
  background-color: #00a6a6;
  padding-bottom: 15px;
}
