$primary-color: #e9fa77;
$primary-denote: #a3b90d;
$secondary-color: #4dcaca;
$secondary-denote: #00a6a6;

//Letter colors
.white{
  color: white;
}
.secondary-denote{
  color: $secondary-denote;
}
.secondary-color{
  color: $secondary-color;
}
//Background colors
.secondary-colorBg{
  background-color: $secondary-color;
}
.secondary-denoteBg{
  background-color: $secondary-denote;
}
.primary-colorBg{
  background-color: $primary-color;
}
.primary-denoteBg{
  background-color: $primary-denote;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a3ba05;
}

.liL {
    float: left;
    margin-bottom: 0px;
}
.liR {
    float: right;
    margin-bottom: 0px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: $primary-color;
}

.center{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width: auto;

}
.txtCenter{
  text-align: center;
}
.firstImage{
  border-bottom: thick solid $secondary-color;
  width: 80%
}
.cookingSection{
  background-color: $secondary-color;
}
.cookingSection img, .restaurants img{
  margin-top: 20px;
  width: 100%;
}
.cookingSection p, .restaurants p{
  font-size: 1.5em;
}
.mainBlue, .mainGreen{
  padding-top: 10px;
  height: 315px;
  font-size: 1.5em
}
.mainBlue{
  background-color: $secondary-denote;
}
.mainGreen{
  background-color: $primary-denote;
}
.restaurants{
  background-color: $primary-color;
}
.mainTxt{
  font-size: 2em;
}
svg text  {
   font-size: 1em;
   cursor:pointer;
   fill: $primary-denote;
}

.icons{
  font-family: FontAwesome;
  font-size: 4em;

}
svg{
  margin-top: 73;
}
.navIcons{
  margin-top: 7px;
}
.specials h3{
  height: 100px;
}
.specials img{
  width: 100%;
}
//Margins
.mb-less{
  margin-bottom: 0px;
}
.mt-50{
  margin-top: 50px;
}
.mt-15{
  margin-top: 15px;
}
//Paddings
.p-15{
  padding: 15px;
}
//Guest Blogging posts
.BlogTitle{
  height: 100px;
  font-size: 1.3em;
}
.BlogContent{
  font-size: 1.3em;
  height: 470px;
}
.BlogContent img{
  width: 100%;
}
//Images overlay info
.after {
    font-size: 1.3em;
    position: relative;
    display: block;
    background: rgba(0, 0, 0, .6);
    margin-top: -100px;
}
//Svg resize
.Icon {
  width: 48px;
}
.Icon svg {
  width: 80%;
  height: auto;
}
